<!-- templates/home/vehicle-import.html -->
{% extends "layouts/base.html" %}

{% block title %}Vehicle Import Calculator{% endblock %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Vehicle Import Calculator</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active">Vehicle Import Calculator</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <span class="text-white">v2.0.0 | Last updated: 05/06/2024</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <!-- Information Card -->
            {% include 'includes/vehicle-import/info.html' %}
            
            <!-- Calculator Form -->
            {% include 'includes/vehicle-import/calculator-form.html' %}
            
            <!-- Results Section -->
            {% include 'includes/vehicle-import/results.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/vehicle-import.js') }}"></script>
{% endblock %}